#board {
	background-color: black;
	height: 510px;
	width: 510px;
	border-style: solid;
	border: black;
	/*margin-top: 10%;
	margin-left: 25%;*/

   
}
#red{
	background-color: #F45B69;
	height:240px;
	width:240px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	margin-right:5px;
	margin-bottom:5px;
	opacity: 0.5;
}
#green{
	background-color: #B6D094;
	height:240px;
	width:240px;
	float:left;
	margin-top:10px;
	margin-left:5px;
	margin-right:10px;
	margin-bottom:5px;
	opacity: 0.5;
}
#yellow{
	background-color: #FFD151;
	height:240px;
	width:240px;
	float:left;
	margin-top:5px;
	margin-left:10px;
	margin-right:5px;
	margin-bottom:10px;
	opacity: 0.5;
}
#blue{
	background-color: #3993DD;
	height:240px;
	width:240px;
	float:left;
	margin-top:5px;
	margin-left:5px;
	margin-right:10px;
	margin-bottom:10px;
	opacity: 0.5;
}